html
	head
		title Fleet Management test API
		link(rel='stylesheet' href='css/bootstrap.css')
		script(src='js/bootstrap.js')
	body
		.container
			h1 Fleet Management test API
			ul
				li 
					a(href="/vehicle") Get Vehicles 
				li 
					a(href="/fuel") Get Fuel 
				li 
					a(href="/services") Get Services 
				li 
					a(href="/issues") Get Issues 
				li 
					a(href="/vendors") Get Vendors 
				li 
					a(href="/users") Get Users 
			
