html
	head
		title Fleet Management test API
		link(rel='stylesheet' href='css/bootstrap.css')
		script(src='js/bootstrap.js')
	body
		.container
			h1 Fleet Management test API
			ul
				li
					a(href="/api") api
				li
					a(href="/api/users") Users
				li
					a(href="/api/fleet") Fleet
				li
					a(href="/setup") Setup
				li
					a(href="/") Get Vendors
				li
					a(href="/users") Get Users
